@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    padding: 1.5rem;
}
.content img {
    background-color: #fff;
}
.content h2 {
    color: #fff;
    margin: .5rem 0;
}
.search {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 40px;
}
.search input {
    width: 75%;
    border: none;
    outline: none;
    font-size: 25px;
    padding: 0 20px;
}
.search button {
    width: 25%;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: orange;
    
}
.search button:hover {
    background-color: gray;
    color: white;
}
.search button:active {
    transform: scale(.95);
}

#list{
list-style: none;
display: flex;
flex-direction: column;
justify-content: space-between;
letter-spacing: 2px;
}
#list div {
    margin-left: -32px;
    display: flex;
    padding: 12px 0 8px 2rem;
}
#list li {
    font-size: 22px;
}
.check-btn {
    margin-left: auto;
    margin-right: 5px;
}
.delete-btn {
    margin-right: 5px;
}
.completed {
    opacity: .7;
    color: white;
    position: relative;
    background-color: darkblue;
    /* text-decoration:line-through; */
}
.completed::before {
    font-family: "bootstrap-icons";
    content: '\F195';
    font-size: 22px;
    padding-right: 5px;
}

.fa-trash, .fa-check {
    pointer-events: none;
}